.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 40px 0px;
  width: 300px;

  .center {
    flex: 3;
    display: flex;
    justify-content: center;
  }

  .side {
    flex: 1;
  }

  .active, .side .item {
    background-color: #d1411e !important;
    color: white;
    cursor: auto !important;
  }

  .item {
    font-weight: 400;
    font-size: 18px;
    border: none;
    padding: 10px 10px;
    background-color: white;
    cursor: pointer;
  }
}
